# Ignore dependencies
/vendor/

# Ignore storage (cache, logs, uploads, etc.)
/storage/

# Ignore public uploads
/public/uploads/

# Ignore large SQL dumps
/first_okay_db_by_samrat.sql
/db-backup-*.sql
